body{
    max-width: 1124px;
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1124px;
    height: 72px;
}
.header>img{
    margin-left: 80px;
}
.header__login{
    display: flex;
    align-items: center;
    margin-right: 88px;
}
.header__btn_white{
    width: 80px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    background: white;
    font-size: 13px;
    line-height: 24px;
    color: #1d1d1d;
    margin-right: 14px;
}
.header__btn_black{
    width: 80px;
    height: 40px;
    background: #262626;
    border-radius: 2px;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    border: none;
    margin-right: 17px;
}
@media (hover){
    .header__btn_white:hover{
        background: #57AD56;
        ;
    }
    .header__btn_black:hover{
        background: #57AD56;
        ;
    }
    .header__login>svg:hover{
        stroke: #57AD56;
        ;
    }
}
.header-2{
    max-width: 100%;
    height: 364px;
    background: url("./images/photo.png");
    position: relative;
}
.header-2__description{
    position: absolute;
    width: 389px;
    height: 204px;
    left: 81px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    padding-top: 8px;
}
.header-2__description>h1{
    text-align: center;
    font-size: 36px;
    font-weight: normal;line-height: 42px;
    margin-bottom: 50px;
}
.header-2__btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.header-2__btn>button{
    width: 97px;
    height: 32px;
    margin-top: 5px;
    margin-left: 29px;
    background: #262626;
    border-radius: 16px;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    border: none;
}
.header-2__btn>p{
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}
.menu{
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
    margin-top: 0px;
    display: flex;
}
.menu>ul{
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 0px;
}
.menu>ul>li{
    list-style: none;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #626262;
    font-size: 16px;
    line-height: 19px;
    margin-left: 40px;
}
@media (hover)  {
    .menu>ul>li>a:hover{
        color:#327430;
    }
}
.table{
    margin-top: 55px;
    margin-bottom: 80px;
}
.table__menu{
    display: grid;
    grid-template-columns: 470px 470px;
    grid-template-rows: 160px 160px 160px;
    grid-gap: 49px 16px;
    margin-left: 81px;
}
.table__title{
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    margin-left: 81px;
    margin-bottom: 33px;
}
.table__foods{
    border: 1px solid rgba(117, 117, 117, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.food-title>p:first-of-type{
    font-size: 16px;
    line-height: 24px;
    margin-top: 14px;
    margin-left: 16px;
}
.food-title>p:last-of-type{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    margin-top: 83px;
    margin-left: 16px;
}
.special>p:first-of-type{
    margin: 16px 4px 0px 16px;
}
.special>p:nth-of-type(2){
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin: 0px 0px 0px 16px;
}
.special>p:last-of-type{
    margin-top: 58px;
}

@media (hover){
    .table__foods:hover{
        background: #dfdede;
    }
}
.footer{
    max-width: 1124px;
    background: #262626;
    padding-left: 82px;
}
.footer__logo{
    width: 956px;
    height: 116px;
    background:  #262626;
}
.footer__logo>img{
    margin-top: 56px;
}
.footer__menu{
    display: flex;
    background: #262626;
    width: 956px;
    height: 220px;
    border-bottom: 1px solid #d6d5d5;
    border-top: 1px solid #d6d5d5;
}
.footer__language{
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
}
.language{
    margin-top: 32px;
}
.social{
    margin: 33px 0px 0px -128px;
}
.footer__partners{
    margin-left: 55px;
}
.footer__partners>ul>li>a{
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;;
    color: #FFFFFF;
}
.footer__partners>ul>li{
    list-style: none;
    margin-bottom: 21px;
}
.footer__partners>ul{
    margin-top: 36px;
}
.footer__about-uber{
    margin-left: 115px;
}
.footer__about-uber>ul>li>a{
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}
.footer__about-uber>ul>li{
    margin-bottom: 20px;
    list-style: none;
}
.footer__about-uber>ul{
    margin-top: 36px;
}
.footer__about{
    display: flex;
    width: 956px;
    height: 105px;
    background: #262626;
}
.footer__about>p{
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    margin-right: 231px;
    margin-top: 40px;
}